[user]
	name = Aborilov Pavel
	email = aborilov@gmail.com
[core]
	excludesfile = ~/.gitignore
[merge]
    tool = meld
[diff]
	external = git-meld
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
